<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="public/fragments/head-elements :: headElements"></head>
<title>MovieMail - Customers</title>
</head>
<body>
<div th:replace="public/fragments/header :: header"></div>
<div id="mainContainer" class="container">
    <div style="width: 100%;">
        <h3 style="display: inline;">List of all Customers</h3>
        <span style="float: right;">
                    <a class="btn btn-outline-primary btn-lg" href="/customer/new">
                        <i class="fa-solid fa-book"></i> Add a customer
                    </a>
                </span>
    </div>
    <hr/>
    <div style="font-size: 1em">
        <!-- table with publishers-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CustomerId</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone number</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>

            </tr>
            </thead>
            <tbody>
                <tr th:each="customer,iterStat : ${customers}">
                    <th scope="row" th:text="${iterStat.count}+${'.'}"></th>
                    <td th:text="${customer.customerId}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.phoneNo}"></td>
                    <td>
                        <a th:href="@{'/admin/edit/{adminId}'(customerId=${customer.customerId})}">
                            <i class="fa-regular fa-pen-to-square"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/admin/delete/{adminId}'(customerId=${customer.customerId})}">
                            <i class="fa-solid fa-delete-left"></i> Delete
                        </a>
                        <!--                        <a data-toggle="modal" data-target="#confirmDeleteBookModal" th:href="@{'/elibrary/book/delete/' + ${book.bookId}}">Delete</a>-->
                        <!--                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
                        <!--                            Launch demo modal-->
                        <!--                        </button>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="public/fragments/footer :: footer"></div>
</body>
</html>