<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="public/fragments/head-elements :: headElements"></head>
<title>MovieMail - Admins</title>
</head>
<body>
<div th:replace="public/fragments/header :: header"></div>
<div id="mainContainer" class="container">
    <div style="width: 100%;">
        <h3 style="display: inline;">List of all Movies</h3>
        <span style="float: right;">
                    <a class="btn btn-outline-primary btn-lg" href="/admin/movies/addmovies">
                        <i class="fa-solid fa-book"></i> Add New Movie
                    </a>
                </span>
    </div>
    <hr/>
    <div style="font-size: 1em">
        <!-- table with publishers-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Released Date</th>
                <th scope="col">Rental Price</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="movie,counter  : ${movies}">
                <th scope="row" th:text="${counter.count}+${'.'}"></th>
                <td th:text="${movie.getMovieName()}"></td>
                <td th:text="${movie.getGenre()}"></td>
                <td th:text="${movie.getReleasedDate()}"></td>
                <td th:text="${movie.getRentalPrice()}"></td>
                <td>
                    <a th:href="@{'/admin/movies/edit/{movieId}'(movieId=${movie.getMovieId()})}">
                        <i class="fa-regular fa-pen-to-square"></i> Edit
                    </a>
                </td>
                <td>
                    <a th:href="@{'/admin/movies/delete/{movieId}'(movieId=${movie.getMovieId})}">
                        <i class="fa-solid fa-delete-left"></i> Delete
                    </a>
                </td>
                <td>
                    <a th:href="@{'/customer/addtocart/{movieId}'(movieId=${movie.getMovieId})}">
                        <i class="fa-solid fa-cart-plus"></i>  Add to cart
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="public/fragments/footer :: footer"></div>
</body>
</html>