<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid #d5d5d5;
        }
        td, th {
            border: 1px solid #d5d5d5;
            padding: 2em;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a> |
        <a href="/admin/movies">Movies</a>
    </nav>
</header>
<h1>List of Movies <a href="/admin/addmovies"> New Movie</a></h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Movie Number</th>
        <th>Genre</th>
        <th>Released Date</th>
        <th>Rental Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie, counter : ${movies}">
        <th scope="row" th:text="${counter.count}+${'.'}"></th>
        <td th:text="${movie.getMovieId()}"></td>
        <td th:text="${movie.getGenre()}"></td>
        <td th:text="${movie.getReleasedDate()}"></td>
        <td th:text="${movie.getRentalPrice()}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>